<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<%= link_to  "Project management system",   projects_path,class:"navbar-brand"%>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
        
        <ul class="navbar-nav navbar-right">
            <li >
        <%= link_to  "Sign-out", destroy_user_session_path ,:method => :delete ,class:"btn pl-500"%>
            </li>
    </ul>
    <% else %>
    </ul>
    <ul class="navbar-nav navbar-right">
    <li>
    <%= link_to  "Sign-up",   new_user_registration_path ,class:"btn pl-500"%>
    </li>
    <li>
    <%= link_to  "log-in",   user_session_path,class:"btn pl-500" %>
    </li>
</ul>
    <%end%>
</div>
</nav>